%html
  %head
    - %w{opensocial-jquery jquery.livequery jquery.gadgeteer}.each do |jsfile|
      %script{:src => "/javascripts/#{jsfile}.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
<% if @options.sinatra %>
      == backendHost = "#{request.scheme}://#{request.host}";
<% else %>
      == backendHost = "#{request.protocol}#{request.host_with_port}";
<% end %>
    %script{:src => "/javascripts/<%= @options.singular %>.js", :type => "text/javascript"}
  %body
    .container
      #header
        %h1 <%= @options.title %>
      #page
